@model CityMarketPOS.Models.UOM
@{
    ViewData["Title"] = "Add UOM";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary shadow">
                    <div class="card-header"><h3>Add New UOM</h3></div>
                    <form asp-action="Create" method="post">
                        <div class="card-body">
                            <div class="form-group"><label asp-for="Name">Unit Name</label><input asp-for="Name" class="form-control" placeholder="e.g. Pieces / Kilogram" required /></div>
                            <div class="form-group"><label asp-for="ShortName">Short Name</label><input asp-for="ShortName" class="form-control" placeholder="e.g. PCS / KG" required /></div>
                        </div><div class="card-footer d-flex justify-content-between"><a asp-action="Index" class="btn btn-default">Cancel</a><button type="submit" class="btn btn-primary">Save UOM</button></div>
                    </form>
                </div>            
            </div>
        </div>
    </div>
</section>