@model CityMarketPOS.Models.UOM
@{
    ViewData["Title"] = "Edit UOM";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-info shadow">
                    <div class="card-header"><h3>Edit UOM</h3></div>
                    <form asp-action="Edit" method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="card-body">
                            <div class="form-group"><label asp-for="Name">Unit Name</label><input asp-for="Name" class="form-control" required /></div>
                            <div class="form-group"><label asp-for="ShortName">Short Name</label><input asp-for="ShortName" class="form-control" required /></div>
                        </div>
                        <div class="card-footer d-flex justify-content-between"><a asp-action="Index" class="btn btn-default">Cancel</a><button type="submit" class="btn btn-info">Update UOM</button></div>
                    </form>
                </div>            
            </div>
        </div>
    </div>
</section>